#contact-list div {
	padding-left: 14px;
	margin: 6px 0;
}

#contact-list span, p {
	display:inline-block;
	width: 200px;
	padding: 2px 0 2px 6px;
	margin: 1px 0;
}

#contact-list span {
	background-color: #9bc5db;
}